@tailwind base;
@layer base {
  h1,h2,h3 {
    @apply mb-2
  }
  h1 {
    @apply text-3xl
  }
  h2 {
    @apply text-2xl
  }
  h3 {
    @apply text-xl
  }
  body {
    @apply bg-gray-200 px-2
  }
  a {
    @apply underline
  }
}
@tailwind components;
@tailwind utilities;
